{% extends 'site/base.html' %}

{% block title %}Password reset link has been sent to your registred mail {% endblock title %}

{% block content %}

<div class="password-reset-done">
  <h3>Password reset link has been sent.</h3>
  <p>
    Please check your mail for password reset link.<br>
    If you didn't receive the link with in five minutes, please try again.
    Or may be you entered a wrong mail, please re-check your mail.
    If your mail is gamil, click here <a href="https://mail.google.com/" target="_blank">Gmail</a>
  </p>
</div>



{% endblock content %}
