{% extends 'site/base.html' %}

{% block title %}Set new password {% endblock title %}

{% block content %}

<div class="password-reset-confirm">
  <h3>Set a new password for your account.</h3>
  <p>
    Please fill up the fields.
  </p>
  {% if form.errors %}
    <p>Something went wrong. Please try again.</p>

    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button">Reset Password</button>
    </form>

  {% else %}

    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button">Reset Password</button>
    </form>

  {% endif %}
</div>

{% endblock content %}
