{% extends 'site/base.html' %}

{% block title %} {{image.title}} {% endblock title %}


{% block content %}

<div class="">
  <h2>{{image.title}}</h2>

  <img src="{{image.image.url}}" alt="" class="image-detail">
  {% with total_likes=image.users_like.count %}
    <div class="image-info">
        <div class="">
          <span>{{total_likes}} like{{total_likes|pluralize}}</span>
        </div>
        {{image.description|linebreaks}}
    </div>
    <div class="image-likes">
      {% for user in image.users_like.all %}
        <div class="">
          <img src="{{user.profile.photo.url}}" alt="">
          <p>{{user.username}}</p>
        </div>
        {% empty %}
        Nobody like this image yet.
      {% endfor %}
    </div>
  {% endwith %}
</div>



{% endblock content %}
